<app-bottom-header [title]="title"></app-bottom-header>
<div class="container">
	<div class="content">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
			    <a class="nav-link active" id="tab1" data-toggle="tab" href="#content1" role="tab" aria-controls="content1">Private</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" id="tab2" data-toggle="tab" href="#content2" role="tab" aria-controls="content2">Public</a>
			</li>
		</ul>
		<div class="tab-content p-4" id="myContent">
		    <div class="tab-pane fade show active" id="content1" role="tabpanel" aria-labelledby="tab1">
			    <div class="row">
					<div class="col-md-12">
						<button class="btn btn-primary float-right mb-4">Build a Private Community</button>
					</div>
					<div class="col-md-3 col-xs-4">
						<li class="list-item">
							<img src="../../assets/images/std.jpg" alt="" />
							<h5>Web Development</h5>
						</li>
					</div>
					<div class="col-md-3 col-xs-4">
						<li class="list-item">
							<img src="../../assets/images/std.jpg" alt="" />
							<h5>Web Development</h5>
						</li>
					</div>
					<div class="col-md-3 col-xs-4">
						<li class="list-item">
							<img src="../../assets/images/std.jpg" alt="" />
							<h5>Web Development</h5>
						</li>
					</div>	
					<div class="col-md-3 col-xs-4">
						<li class="list-item">
							<img src="../../assets/images/std.jpg" alt="" />
							<h5>Web Development</h5>
						</li>
					</div>
				</div>
		    </div>

		    <div class="tab-pane fade" id="content2" role="tabpanel" aria-labelledby="tab2">
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-primary float-right mb-4">Suggest a Public Community</button>
					</div>
					<div class="col-md-3 col-xs-4">
						<li class="list-item">
							<img src="../../assets/images/std.jpg" alt="" />
							<h5>Web Development</h5>
						</li>
					</div>
					<div class="col-md-3 col-xs-4">
						<li class="list-item">
							<img src="../../assets/images/std.jpg" alt="" />
							<h5>Web Development</h5>
						</li>
					</div>
					<div class="col-md-3 col-xs-4">
						<li class="list-item">
							<img src="../../assets/images/std.jpg" alt="" />
							<h5>Web Development</h5>
						</li>
					</div>	
					<div class="col-md-3 col-xs-4">
						<li class="list-item">
							<img src="../../assets/images/std.jpg" alt="" />
							<h5>Web Development</h5>
						</li>
					</div>
				</div>
		    </div>
		    
		</div>
	</div>
</div> 