.card{
	border-width: 0;

	.card-header{
		font-size: 1.8em;
	    font-weight: bold;
	}
	.card-body{
	    padding: 0;
	    border-top: 3px solid #572872;

		.card-title{
	    	font-weight: bold;
	    	font-size: 3em;
		}
		ul.list-group{
			color: gray;
			padding-right: 0;
		}
	}
}