<div class="card text-white bg-primary mb-3">
	<div class="card-header text-center">{{ data.header }}</div>
	<div class="card-body">
		<h1 class="card-title text-center">{{ data.title }}</h1>
		<p class="text-center">{{ data.subtitle }}</p>
		<ul class="list-group">
			<li class="list-group-item">{{ list.item1 }}</li>
			<li class="list-group-item">{{ list.item2 }}</li>
			<li class="list-group-item">{{ list.item3 }}</li>
		</ul>
		<button class="btn btn-primary btn-block">{{ data.btn }}</button>
	</div>
</div>