.item-img{
    /*width: 70px;*/
	width: 20%;
	height: 70px;
    margin: -2em 0.5em 0;
}
.item-content{
	width: 75%;
    display: inline-block;
}
.card-body{
	padding: 0;
	border-width: 0px;
}
.items{
	list-style-type: none;
    padding-left: 0;

    li{
    	hr{
	    	width: 90%;
	    	margin: 0 auto;
	    }
    }
    /*li:last-child{
    	hr{
    		width: 0;
    	}
    }*/
    table td, .table th {
    	padding: .5rem
    }
}