<footer class="pt-5 pb-3">
	<div class="container-fluid">
		<div class="footer1 pb-5">
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<h5 class="text-center">{{ 'FOOTER.contactus' | translate }}</h5>
				</div>
				<div class="col-md-3 col-xs-6">
					<h5 class="text-center">{{ 'FOOTER.aboutus' | translate }}</h5>
				</div>
				<div class="col-md-3 col-xs-6">
					<h5 class="text-center">{{ 'FOOTER.postjob' | translate }}</h5>
				</div>
				<div class="col-md-3 col-xs-6">
					<h5 class="text-center">{{ 'FOOTER.newsletter' | translate }}</h5>
					<form class="form-inline justify-content-center">
					  
					  <div class="form-group mx-sm-12 mb-2">
					    <label for="email" class="sr-only">email</label>
					    <input type="email" class="form-control" id="email" placeholder="your.address@email.com">
					  </div>
					  <button type="submit" class="btn btn-primary mb-2">{{ 'FOOTER.joinus' | translate }}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="footer2 pt-3 text-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-xs-6">
					<img src="../assets/images/Tamam-Logo-Footer.png" alt="">
					<p class="d-inline pl-4">Copyright © 2016 tamam</p>
				</div>
				<div class="col-md-6 col-xs-6">
					<h5>{{ 'FOOTER.comingSoon' | translate }}</h5>
					<a href=""><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>
					<a href=""><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
				</div>
				<!-- <div class="col-md-12 pt-5">
					<p class="text-center">Copyright © 2016 tamam</p>
				</div> -->
			</div>
		</div>
	</div>
</footer>