.navbar {
	background: linear-gradient(to bottom,  #1b75bc 0%,#00a0dc 50%,#1b75bc 100%);
	text-transform: uppercase;
	font-weight: 500;

	li{
		p{
			text-transform: none;
		}
		.nav-link, p{
		color: #fff
		}
		:hover{
			con: #1b75bc;
		}
		@media (min-width: 992px){
			.nav-link {
				padding-right: 1rem;
	    		padding-left: 1rem;
	    		/*font-size: 1.1rem;*/
			}
		}
	}
}