.item-img{
	width: 70px;
	height: 70px;
	margin-top: 1rem!important;
}
.item-content{
	width: 85%;
}
.card-body{
	padding: 0;
	border-width: 0px;
}
.items{
	list-style-type: none;
    padding-left: 0;

    li{
    	hr{
	    	width: 80%;
	    	margin: 0 auto;
	    }
    }
    li:last-child{
    	hr{
    		width: 0;
    	}
    }

    table td, .table th {
    	padding: .5rem
    }
}