<header>
	<div id="empty-div"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img class="logo" src="./assets/images/Tamam-Logo.png" alt="Tamam Skills Marketplace" title="Tamam Skills Marketplace">
			</div>
			<div class="col-md-6">
				<form class="form-inline my-0">
			        <div class="dropdown">
					    <a class="btn btn-secondary dropdown-toggle search" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    	{{ 'HEADER.select' | translate }}
					  	</a>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    <a class="dropdown-item" href="#">{{ 'HEADER.jobs' | translate }}</a>
					    <a class="dropdown-item" href="#">{{ 'HEADER.provider' | translate }}</a>
					  </div>
					</div>
			      <input class="form-control" type="search" placeholder="{{ 'HEADER.search' | translate }}" aria-label="Search">
			      <button class="btn btn-primary my-2 my-sm-0" type="submit">{{ 'HEADER.go' | translate }}</button>
			    </form>
			</div>
			<div class="col-md-3">
				<div class="dropdown show my-4 float-right">
				  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    {{ 'LANGUAGE.selectLanguage' | translate }} 
				  </a>

				  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				    <a class="dropdown-item" (click)="changeLanguage('ar')"><img class="flag" src="./assets/images/eg.png"> {{ 'LANGUAGE.ar' | translate }} </a>
				    <a class="dropdown-item" (click)="changeLanguage('en')"><img class="flag" src="./assets/images/us.png"> {{ 'LANGUAGE.en' | translate }} </a>
				  </div>
				</div>
			</div>
		</div>
	</div>
</header>