.carousel-control-next, .carousel-control-prev{
	width: 2.6%;
	background-color: #333;
	top: 45%;
	height: 50px;
	border-radius: 50%;
}
.carousel-control-next{
	right: 20px
}
.carousel-control-prev{
	left: 20px
}
.carousel-caption{
  bottom: auto;
  top: 20%;
  color: #323d54;
  h2,h1,h3{
    font-weight: 600;
  }
}
.carousel-caption:not(.private){
  right: auto;
  left: 30%;
}
.carousel-caption.private{
  left: auto;
  right: 30%;
}
.carousel-indicators .active {
    background-color: #572872;
}