<div class="container">
	<div class="content">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
			    <a [ngClass]="activeTab == 1 ? 'active' : ''" class="nav-link" id="tab1" data-toggle="tab" href="#content1" role="tab" aria-controls="content1" aria-selected="true">{{ 'TABS.how-submit-job.title' | translate }}</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" id="tab2" data-toggle="tab" href="#content2" role="tab" aria-controls="content2" aria-selected="false">{{ 'TABS.how-hire-service-providers.title' | translate }}</a>
			</li>
			<li class="nav-item">
			    <a  [ngClass]="activeTab == 3 ? 'active' : ''" class="nav-link" id="tab3" data-toggle="tab" href="#content3" role="tab" aria-controls="content3" aria-selected="true">{{ 'TABS.how-find-work.title' | translate }}</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" id="tab4" data-toggle="tab" href="#content4" role="tab" aria-controls="content4" aria-selected="false">{{ 'TABS.how-get-certified.title' | translate }}</a>
			</li>
		</ul>
		<div class="tab-content" id="myContent">
		    <div class="tab-pane fade show active" id="content1" role="tabpanel" aria-labelledby="tab1">
			    <mat-horizontal-stepper #stepper1>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/1.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-submit-job.content1.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-submit-job.content1.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
				    <mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/Job-Description7.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-submit-job.content2.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-submit-job.content2.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/333.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-submit-job.content3.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-submit-job.content3.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
						<div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/4444444.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-submit-job.content4.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-submit-job.content4.body' | translate }}</p>
							    <div>
							      <button mat-button matStepperPrevious>Back</button>
							      <button mat-button (click)="stepper1.reset()">Reset</button>
							    </div>
					    	</div>
					    </div>
					    
					    
					</mat-step>
				</mat-horizontal-stepper>
		    </div>

		    <div class="tab-pane fade" id="content2" role="tabpanel" aria-labelledby="tab2">
				<mat-horizontal-stepper #stepper2>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/Post14.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-hire-service-providers.content1.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-hire-service-providers.content1.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
				    <mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/Hire.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-hire-service-providers.content2.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-hire-service-providers.content2.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/Manage.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-hire-service-providers.content3.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-hire-service-providers.content3.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
						<div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/Fee.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-hire-service-providers.content4.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-hire-service-providers.content4.body' | translate }}</p>
							    <div>
							      <button mat-button matStepperPrevious>Back</button>
							      <button mat-button (click)="stepper2.reset()">Reset</button>
							    </div>
					    	</div>
					    </div>				    
					</mat-step>
				</mat-horizontal-stepper>
		    </div>
		    <div class="tab-pane fade " id="content3" role="tabpanel" aria-labelledby="tab3">
			    <mat-horizontal-stepper #stepper3>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/111.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-find-work.content1.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-find-work.content1.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
				    <mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/22.png" alt="Join on a group" title="Join on a group" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-find-work.content2.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-find-work.content2.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/33.png" alt="Build a private community" title="Build a private community" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-find-work.content3.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-find-work.content3.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
						<div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/Fee.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-find-work.content4.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-find-work.content4.body' | translate }}</p>
							    <div>
							      <button mat-button matStepperPrevious>Back</button>
							      <button mat-button (click)="stepper3.reset()">Reset</button>
							    </div>
					    	</div>
					    </div>				    
					</mat-step>
				</mat-horizontal-stepper>
		    </div>

		    <div class="tab-pane fade" id="content4" role="tabpanel" aria-labelledby="tab4">
				<mat-horizontal-stepper #stepper4>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/41.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-get-certified.content1.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-get-certified.content1.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
				    <mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/42.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-get-certified.content2.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-get-certified.content2.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/43.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-get-certified.content3.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-get-certified.content3.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
						<div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="../../assets/images/end.png" alt="" title="" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'TABS.how-get-certified.content4.title' | translate }}</h3>
					    		<p>{{ 'TABS.how-get-certified.content4.body' | translate }}</p>
							    <div>
							      <button mat-button matStepperPrevious>Back</button>
							      <button mat-button (click)="stepper4.reset()">Reset</button>
							    </div>
					    	</div>
					    </div>				    
					</mat-step>
				</mat-horizontal-stepper>
		    </div>
		</div>
	</div>
</div> 