@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
	background: #fbfbfb;
}
.main-text{
	color: #572872;
	text-transform: capitalize;
	font-weight: 600;
}
.mat-stepper-horizontal{
	padding-bottom: 50px;
	padding-top: 50px;
}
.mat-step-label{
	min-width: 0px !important;
}
.mat-horizontal-content-container{
	padding-top: 24px;
}
.mat-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused, .mat-step-header:hover{
	background-color: transparent
}
.mat-step-header div:hover{
	background-color: #572872;
}
.content{
	margin: 50px 0;
	
	.nav-tabs, .tab-content{
		border: 1px solid #dee2e6;
		padding-right: 0px;
	}
}
a{
	cursor: pointer;
}
.dropdown:hover>.dropdown-menu {
	display: block;
}
