
<app-bottom-header title="{{ 'MEMBERSHIP.title' | translate }}"></app-bottom-header>
<div class="mt-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card text-white bg-primary mb-3">
					<div class="card-header text-center">{{ 'MEMBERSHIP.block1.header' | translate }}</div>
					<div class="card-body">
						<h1 class="card-title text-center">{{ 'MEMBERSHIP.block1.title' | translate }}</h1>
						<p class="text-center">{{ 'MEMBERSHIP.block1.subtitle' | translate }}</p>
						<ul class="list-group">
							<li class="list-group-item">{{ 'MEMBERSHIP.block1.list.item1' | translate }}</li>
							<li class="list-group-item">{{ 'MEMBERSHIP.block1.list.item2' | translate }}</li>
							<li class="list-group-item">{{ 'MEMBERSHIP.block1.list.item3' | translate }}</li>
						</ul>
						<button class="btn btn-primary btn-block">{{ 'MEMBERSHIP.btn' | translate }}</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card text-white bg-primary mb-3">
					<div class="card-header text-center">{{ 'MEMBERSHIP.block2.header' | translate }}</div>
					<div class="card-body">
						<h1 class="card-title text-center">{{ 'MEMBERSHIP.block2.title' | translate }}</h1>
						<p class="text-center">{{ 'MEMBERSHIP.block2.subtitle' | translate }}</p>
						<ul class="list-group">
							<li class="list-group-item">{{ 'MEMBERSHIP.block2.list.item1' | translate }}</li>
							<li class="list-group-item">{{ 'MEMBERSHIP.block2.list.item2' | translate }}</li>
							<li class="list-group-item">{{ 'MEMBERSHIP.block2.list.item3' | translate }}</li>
						</ul>
						<button class="btn btn-primary btn-block">{{ 'MEMBERSHIP.btn' | translate }}</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card text-white bg-primary mb-3">
					<div class="card-header text-center">{{ 'MEMBERSHIP.block3.header' | translate }}</div>
					<div class="card-body">
						<h1 class="card-title text-center">{{ 'MEMBERSHIP.block3.title' | translate }}</h1>
						<p class="text-center">{{ 'MEMBERSHIP.block3.subtitle' | translate }}</p>
						<ul class="list-group">
							<li class="list-group-item">{{ 'MEMBERSHIP.block3.list.item1' | translate }}</li>
							<li class="list-group-item">{{ 'MEMBERSHIP.block3.list.item2' | translate }}</li>
							<li class="list-group-item">{{ 'MEMBERSHIP.block3.list.item3' | translate }}</li>
						</ul>
						<button class="btn btn-primary btn-block">{{ 'MEMBERSHIP.btn' | translate }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>