<div class="container">
	<div class="content">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
			    <a class="nav-link active" id="tab1" data-toggle="tab" href="#content1" role="tab" aria-controls="content1" aria-selected="true">{{ 'HOW_COMMUNITY_WOK.tab1.title' | translate }}</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" id="tab2" data-toggle="tab" href="#content2" role="tab" aria-controls="content2" aria-selected="false">{{ 'HOW_COMMUNITY_WOK.tab2.title' | translate }}</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" id="tab3" data-toggle="tab" href="#content3" role="tab" aria-controls="content3" aria-selected="true">{{ 'HOW_COMMUNITY_WOK.tab3.title' | translate }}</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" id="tab4" data-toggle="tab" href="#content4" role="tab" aria-controls="content4" aria-selected="false">{{ 'HOW_COMMUNITY_WOK.tab4.title' | translate }}</a>
			</li>
		</ul>
		<div class="tab-content t" id="myContent">
		    <div class="tab-pane fade show active" id="content1" role="tabpanel" aria-labelledby="tab1">
			    <mat-horizontal-stepper #stepper1>
					<mat-step>
		 			    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Public.jpg" alt="Join a Public Group" title="Join a Public Group" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab1.content1.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab1.content1.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
				    <mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Upload1.jpg" alt="Upload Your Product" title="Upload Your Product" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab1.content2.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab1.content2.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/publishing-strategy1.jpg" alt="Post on TAMAM" title="Post on TAMAM" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab1.content3.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab1.content3.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
						<div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Sugg.jpg" alt="General Group proposal" title="General Group proposal" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab1.content4.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab1.content4.body' | translate }}</p>
					    	</div>
					    </div>					    
					</mat-step>
				</mat-horizontal-stepper>
		    </div>

		    <div class="tab-pane fade" id="content2" role="tabpanel" aria-labelledby="tab2">
				<mat-horizontal-stepper #stepper2>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Log.jpg" alt="Membership registration" title="Membership registration" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab2.content1.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab2.content1.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
				    <mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Private.jpg" alt="Join on a group" title="Join on a group" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab2.content2.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab2.content2.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Build.jpg" alt="Build a private community" title="Build a private community" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab2.content3.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab2.content3.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
						<div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Upload1.jpg" alt="Upload your products" title="Upload your products" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab2.content4.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab2.content4.body' | translate }}</p>
					    	</div>
					    </div>				    
					</mat-step>
				</mat-horizontal-stepper>
		    </div>
		    <div class="tab-pane fade " id="content3" role="tabpanel" aria-labelledby="tab3">
			    <mat-horizontal-stepper #stepper3>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Log.jpg" alt="Membership registration" title="Membership registration" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab3.content1.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab3.content1.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
				    <mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Private.jpg" alt="Join on a group" title="Join on a group" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab3.content2.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab3.content2.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Build.jpg" alt="Build a private community" title="Build a private community" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab3.content3.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab3.content3.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
						<div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Approval-Process-re.png" alt="Approval of the application" title="Approval of the application" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab3.content4.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab3.content4.body' | translate }}</p>
					    	</div>
					    </div>				    
					</mat-step>
				</mat-horizontal-stepper>
		    </div>

		    <div class="tab-pane fade" id="content4" role="tabpanel" aria-labelledby="tab4">
				<mat-horizontal-stepper #stepper4>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Log.jpg" alt="Membership registration" title="Membership registration" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab4.content1.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab4.content1.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
				    <mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Private.jpg" alt="Join on a group" title="Join on a group" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab4.content2.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab4.content2.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
					    <div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Build.jpg" alt="Build a private community" title="Build a private community" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab4.content3.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab4.content3.body' | translate }}</p>
					    	</div>
					    </div>
					</mat-step>
					<mat-step>
						<div class="row">
					    	<div class="col-md-6 text-center">
					    		<img src="./assets/images/Approval-Process-re.png" alt="Approval of the application" title="Approval of the application" />
					    	</div>
					    	<div class="col-md-6 tab-body">
					    		<h3>{{ 'HOW_COMMUNITY_WOK.tab4.content4.title' | translate }}</h3>
					    		<p>{{ 'HOW_COMMUNITY_WOK.tab4.content4.body' | translate }}</p>
					    	</div>
					    </div>				    
					</mat-step>
				</mat-horizontal-stepper>
		    </div>
		</div>
	</div>
</div> 