<app-bottom-header title="{{ 'FORGET_PASSWORD.title' | translate }}"></app-bottom-header>

<div class="reset-password">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="border-bottom mb-4 pb-4">{{ 'FORGET_PASSWORD.title' | translate }}</h2>
		        <h4 class="border-bottom mb-4 pb-3">{{ 'FORGET_PASSWORD.subtitle' | translate }}</h4>
		        <p>{{ 'FORGET_PASSWORD.desc' | translate }}</p>
				<form action="" method="post">
				    <div class="form-group">
		                <label for="email_address" class="required">{{ 'FORGET_PASSWORD.email' | translate }}<span class="text-danger">*</span></label>
		                <input type="email" id="email_address" class="form-control col-md-6" value="" />
				    </div>
		            
					<div class="recaptcha" style="overflow:hidden;position:relative;margin-bottom:10px;">
					    <input type="checkbox" id="cb-5b3f8332a4117" name="cb-5b3f8332a4117" value="" class="hide required-entry" style="visibility:hidden; position:absolute; left:-1000000px">
					    <div id="el-5b3f8332a4117"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LcnSSkTAAAAACvz2VUWy9kHwhzO9PG5Vkhqeqoz&amp;co=aHR0cHM6Ly90YW1hbS5tdzMtY2xvdWQuY29tOjQ0Mw..&amp;hl=en&amp;type=image&amp;v=v1529908317173&amp;theme=light&amp;size=normal&amp;cb=20w5vgfw6f17" width="304" height="78" role="presentation" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>
					    <script type="text/javascript">
					        var onloadCallback = function() {
					            grecaptcha.render('el-5b3f8332a4117', {
					                'sitekey': "6LcnSSkTAAAAACvz2VUWy9kHwhzO9PG5Vkhqeqoz",
					                'theme': "light",
					                'type': "image",
					                'size': "normal",
					                'callback': function(response) {
					                    if (response.length > 0) {
					                        $('cb-5b3f8332a4117').writeAttribute('value', 'checked');
					                        $('cb-5b3f8332a4117').checked = true;
					                    }
					                }
					            });
					        };
					    </script>
					    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit&amp;hl=en" async="" defer=""></script>
				    </div>

			        <p><span class="text-danger">*</span> {{ 'FORGET_PASSWORD.msg' | translate }}</p>
			        <button type="submit" class="btn btn-primary mb-4">{{ 'FORGET_PASSWORD.btn' | translate }}</button>
			        <p class="text-primary border-top pt-4"><a routerLink="/login"><small>« </small>{{ 'FORGET_PASSWORD.back-link' | translate }}</a></p>
				</form>
			</div>
		</div>
	</div>
</div>